[ req ]
default_bits = 2048
prompt = no
encrypt_key = no
default_md = sha256
distinguished_name = dn
req_extensions = v3_req



[ dn ]
C = GB
L = London
O = University College London
OU = SLMS
0.CN = {{ cert_common_name }}}
#1.CN = Second FQDN of your server
#2.CN = Third FQDN of your server

[ v3_req ]
# Extensions to add to a certificate request
basicConstraints = CA:FALSE
keyUsage = nonRepudiation, digitalSignature, keyEncipherment
